body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #ffffff;
    color: #333;
}

section {
    margin-bottom: 50px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #2c3e50;
}

ul {
    padding-left: 20px;
}
